{% extends "layout.html" %}

{% block title %}Nathan & Yuqi Home System{% endblock %}

{% block subtitle %}Home{% endblock %}

{% block body %}
<div class="row">
  <div class="col-lg-8">
    <div class="card card-primary card-outline">
    <div class="card-header">
            <h5 class="card-title m-0">Raspberry Pi 4B System Information</h5>
          </div>
          <div class="card-body">
      <dl class="row">
              <dt class="col-sm-4">System Name & Verison</dt>
              <dd class="col-sm-8" id="system-info"></dd>
              <dt class="col-sm-4">Model</dt>
              <dd class="col-sm-8" id="model-name"></dd>
              <dt class="col-sm-4">CPU Model Name</dt>
              <dd class="col-sm-8" id="cpu-model"></dd>
              <dt class="col-sm-4">Core #</dt>
              <dd class="col-sm-8" id="cpu-core"></dd>
      <dt class="col-sm-4">MAC Address</dt>
              <dd class="col-sm-8" id="mac-address"></dd>
      <dt class="col-sm-4">Public IP Address</dt>
              <dd class="col-sm-8" id="public-ip"></dd>
      <dt class="col-sm-4">Uptime</dt>
              <dd class="col-sm-8" id="uptime"></dd>
      <dt class="col-sm-4">Last Time Reboot</dt>
              <dd class="col-sm-8" id="last-time"></dd>
      <dt class="col-sm-4">Current Location</dt>
              <dd class="col-sm-8" id="location"></dd>
            </dl>
          </div>
        </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-primary card-outline">
    <div class="card-header">
            <h5 class="card-title m-0">WIFI Information</h5>
          </div>
          <div class="card-body">
      <dl class="row">
              <dt class="col-sm-5">WIFI Name</dt>
              <dd class="col-sm-7" id="wifi-name"></dd>
              <dt class="col-sm-5">Other Devices on WIFI</dt>
              <dd class="col-sm-7" id="wifi-device"></dd>
      <dt class="col-sm-5">Link Quality</dt>
              <dd class="col-sm-7" id="wifi-quality"></dd>
      <dt class="col-sm-5">Signal Level</dt>
              <dd class="col-sm-7" id="wifi-signal"></dd>
      <dt class="col-sm-5">IPv4 Address</dt>
              <dd class="col-sm-7" id="ipv4"></dd>
      <dt class="col-sm-5">IPv6 Address</dt>
              <dd class="col-sm-7" id="ipv6"></dd>
      <dt class="col-sm-5">Gateway</dt>
              <dd class="col-sm-7"><a target="_blank" href="http://10.0.0.1">Link</a></dd>
            </dl>
          </div>
        </div>
  </div>
</div>
    <div class="row">
      <div class="col-lg-3">
        <div class="card card-primary card-outline">
    <div class="card-header">
            <h5 class="card-title m-0">Memory Usage</h5>
          </div>
          <div class="card-body">
      <div class="progress">
        <div class="progress-bar bg-primary progress-bar-striped" id="memory-usage-progbar" role="progressbar"
           aria-valuemin="0" aria-valuemax="100" style="">
        </div>
      </div>
      <dl class="row">
        <dt class="col-sm-4">Total</dt>
                <dd class="col-sm-8" id="mem-total"></dd>
      <dt class="col-sm-4">Used</dt>
                <dd class="col-sm-8" id="mem-used"></dd>
      <dt class="col-sm-4">Available</dt>
                <dd class="col-sm-8" id="mem-avai"></dd>
      </dl>
          </div>
        </div>
      </div>
        <div class="col-lg-3">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h5 class="card-title m-0">Airport Lookup</h5>
                </div>
                <div class="card-body">
                    <form name="airport-form" action="/airport_detail" method="GET" onsubmit="return validateForm()">
                        <div class="form-group">
                          <input name="airport-input" type="text" class="form-control" style="text-transform:uppercase"
                                 placeholder="IATA Code: (LAX, ORD)">
                        </div>
                        <button type="submit" class="btn btn-outline-primary btn-sm">Search</button>
                    </form>
                </div>
            </div>
        </div>
  <div class="col-lg-6">
        <div class="card card-primary card-outline">
    <div class="card-header">
            <h5 class="card-title m-0">Processor Status</h5>
          </div>
          <div class="card-body">
      <table class="table table-bordered">
      <thead>
        <tr>
        <th>Total</th>
        <th>Running</th>
        <th>Sleeping</th>
        <th>Stopped</th>
        <th>Zombie</th>
      </tr>
      </thead>
      <tbody>
        <tr id="processor-content">
      </tr>
      </tbody>
    </table>
          </div>
        </div>
      </div>
    </div>
<div class="row">
    <div class="col-lg-4">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="card-title m-0">Cars Information Search</h5>
            </div>
            <div class="card-body">
                <form action="/car_search_result" method="GET">
                    <div class="input-group">
                        <label for="model">Model</label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <select id="model" name="model" class="form-control">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="20088">Toyota</option>
                            <option value="20017">Honda</option>
                            <option value="20005">BMW</option>
                        </select>
                    </div>
                    <br>
                    <div class="input-group">
                        <label for="zipcode">Location</label>&nbsp&nbsp
                        <select id="zipcode" name="zipcode" class="form-control">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="46204">Indianapolis</option>
                            <option value="60611">Chicago</option>
                            <option value="19406">King of Prussia</option>
                        </select>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-outline-primary btn-sm">Search</button>
                </form>
            </div>
        </div>
    </div>
  <div class="col-lg-4">
        <div class="card card-primary card-outline">
    <div class="card-header">
            <h5 class="card-title m-0">CPU Temperature</h5>
          </div>
          <div class="card-body">
      <div class="progress">
        <div class="progress-bar bg-primary progress-bar-striped" id="temp-progbar" role="progressbar"
           aria-valuemin="0" aria-valuemax="100" style="">
        </div>
      </div>
      <dl class="row">
        <dt class="col-sm-4">Warning</dt>
                <dd class="col-sm-8">50 °C</dd>
      <dt class="col-sm-4">Threshold</dt>
                <dd class="col-sm-8">70 °C</dd>
      </dl>
          </div>
        </div>
      </div>
  <div class="col-lg-4">
        <div class="card card-primary card-outline">
    <div class="card-header">
            <h5 class="card-title m-0">Disk Usage</h5>
          </div>
          <div class="card-body">
      <div class="progress">
        <div class="progress-bar bg-primary progress-bar-striped" id="disk-usage-progbar" role="progressbar"
           aria-valuemin="0" aria-valuemax="100" style="">
        </div>
      </div>
      <dl class="row">
        <dt class="col-sm-4">Total Size</dt>
                <dd class="col-sm-8" id="disk-total"></dd>
      <dt class="col-sm-4">Used</dt>
                <dd class="col-sm-8" id="disk-used"></dd>
      <dt class="col-sm-4">Available</dt>
                <dd class="col-sm-8" id="disk-avai"></dd>
      </dl>
          </div>
        </div>
      </div>
  </div><!-- /.container-fluid -->
{% endblock %}

{% block javascript %}
<!-- jQuery -->
<script src="{{url_for('static', filename='./js/jquery.min.js')}}"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{url_for('static', filename='./js/jquery.knob.min.js')}}"></script>
<!-- Bootstrap 4 -->
<script src="{{url_for('static', filename='./js/bootstrap.bundle.min.js')}}"></script>
<!-- AdminLTE App -->
<script src="{{url_for('static', filename='./js/adminlte.min.js')}}"></script>
<script src="{{url_for('static', filename='./js/pi-status-system.app.js')}}"></script>
<script>
    function validateForm() {
  var x = document.forms["airport-form"]["airport-input"].value;
  if (x === "") {
    alert("Airport Code must be filled out");
    return false;
  }
}
</script>
{% endblock %}
