{% extends "layout.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}

{% block title %}Your Flight Tracker{% endblock %}

{% block subtitle %}Your Flight Tracker{% endblock %}

{% block tree %}
{{ super() }}
<li class="breadcrumb-item"><a href="#">Flight Tracker</a></li>
{% endblock %}

{% block body %}
<div class="hold-transition login-page tracker-border">
  <div class="login-logo">
      <a href="">Your <b> Flight Tracker</b></a>
  </div>
  <!-- AIRPORT SEARCH -->
  <div class="row">
    <div class="col">
      <div class="login-box">
        <div class="card">
          <div class="card-body login-card-body">
            <p class="login-box-msg">Search the Airport Information</p>
            <form action="/search/dashboard" method="GET">
              <label class="form-label">Please Enter the Airport Code (IATA/ICAO)</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Airport Code (e.g. JFK, LAX, etc.)" name="airport">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="fas fa-map-marked"></i>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="optradio" value="0" checked="">
                      <label class="form-check-label">Departure</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="optradio" value="1">
                      <label class="form-check-label">Arrival</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- /.col -->
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-block">Search</button>
                </div>
                <!-- /.col -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="login-box">
        <div class="card">
          <div class="card-body login-card-body">
            <p class="login-box-msg">Check your Flight Status</p>
            <form action="#" method="post">
              <label class="form-label">Please Enter Your Flight Number</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Please Enter the Flight # (e.g. AA1412)">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="fas fa-plane"></i>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <div class="form-check form-check-inline">
                      <label class="form-check-label"></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-block">Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrum-item"><a href="/database">Database</a></li>
      </ol>
    </div>
  </div>
<!-- /.Search Box -->
</div>
{% endblock %}

{% block javascript %}
<!-- jQuery -->
<script src="{{ url_for('static', filename='./plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ url_for('static', filename='./plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ url_for('static', filename='./dist/js/adminlte.min.js') }}"></script>
{% endblock %}