<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pi-Status-System</title>
</head>
<body>
    <table>
        <tr>
            <td>System</td>
            <td><div id="sysInfo"></div></td>
        </tr>
        <tr>
            <td>CPU temp</td>
            <td><div id="cpuTemp"></div></td>
        </tr>
        <tr>
            <td>CPU temp from sensor</td>
            <td><div id="cpuTempSens"></div></td>
        </tr>
        <tr>
            <td>Uptime</td>
            <td><div id="uptimeInfo"></div></td>
        </tr>
    </table>
    
    <div id="currentTime"></div>
    <div id="processor"></div>
    <div id="ipAddress"></div>
    <div id="memory"></div>
    <div id="uptime"></div>
    <div id="disk_usage"></div>
    <div id="cpu_temp"></div>
    <div id="basic_info"></div>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{url_for('static', filename='./js/pi-status-system.app.js')}}"></script>
    <script src="../static/js/materialize.js"></script>
</body>
</html>
